/* Осн. цвет #2196F3 (голубой) */
/* цвет футера #2F303A */
:root {
    --accent-color: #2196F3;
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --light-text-color: #FFFFFF;
    --footer-contacts-color: rgba(255, 255, 255, 0,6);

}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #212121;
}
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
